
@model  Joker.Models.JokeViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

@foreach (var joke in Model.JokeList)
{
    <p>@joke.JokeTitle</p>
}

<h3>People You Follow</h3>

@foreach (var x in Model.Following)
{
    <p>@x.UserName</p>
}

<h3>Following You</h3>

@foreach (var x in Model.Followers)
{
    <p>@x.UserName</p>
}